.loader-box{
  background: #fff;
  overflow:hidden;
  width: 90px;
  height: 30px;
  position: fixed;
  top:50%;
  left:50%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.dot{
  border-radius: 100%;
  border: 5px solid #333;
  margin: 10px;
}
.dot:nth-child(1){
  animation: preloader 0.9s ease-in-out infinite;
}

.dot:nth-child(2){
  animation: preloader 0.8s ease-in-out infinite;
}

.dot:nth-child(3){
  animation: preloader 0.7s ease-in-out infinite;
}

@keyframes preloader {
  100%{
    transform: scale(1.5);
  }
}



